body{
  background: lightgrey;
}

#nav-bar ul{
  position: fixed;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -0.5em;
  margin-bottom: 1em;
  background-color: rgba(211, 211, 211);
}
#nav-bar li{
  display: inline-block;
  font-size: 20px;
}

#nav-bar{
  padding-bottom: 15px;
}

.right{
  float: right;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#header{
  text-align: center;;
}

#our-values{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows:  1fr;

  /*border: red 1px solid;*/
}

.heading{
  display: grid;
  text-align: left;
  /*border: black 1px solid;*/
}

.sub-heading{
  display: grid;
  margin-top: -1.0em;
  grid-column: 2/3;
  /*border: blue 1px solid;*/
}

#product-class{
  display: flex;
  justify-content: space-between;
  align-content: center; 
  margin: 0 20em 0 20em;
  
}
.item{
  /*display: flex;*/
  border: 1px solid black;
  height: 15em;
  
  
}
item p{
  text-align: center;
  word-wrap: break-word;
}
