#nav-bar ul{
  position: fixed;
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav-bar li{
  display: inline-block;
  font-size: 20px;
}

#nav-bar{
  padding-bottom: 15px;
}

.right{
  float: right;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#header{
  text-align: center;;
}

#our-values{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  border: red 1px solid;
}

.heading{
text-align: left;
margin-left: 12em;
}
